/* container {
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
} */

body {
  left: 0;
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.inspirationbox {
  /* # center this box on the webpage */
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  left:0;
  /* z-index: 1; */
  background-color:  rgba(255, 255, 255, 0.8);

  background-repeat: no-repeat;
  /* overflow-x: hidden; */
  background-size: contain;

}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;

    overflow-x: hidden;
    
    /* padding-top: 20px; */

  }

.left::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

  /* .addnote {
    text-align: center;
    margin-bottom: 100px;
  } */

  /* .nosplit {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: scroll;
  } */
  
  /* Control the left side */
  .left {
    left: 0;

    /* background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    overflow-y: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Control the right side */
  .right {
    right: 0;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgba(255, 255, 255, 0.8);
  }


  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0); 
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed
  .centered img {
    width: 150px;
    border-radius: 50%;
  } */

  /* Style the Zebra Striped Table */
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 100px;
  }
  
  th, td {
    text-align: center;
    padding: 16px;
    border: 1px solid rgb(139, 139, 139);
    border-collapse: collapse;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }


  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 33%;
    padding: 0 5px;
  }

  .dashcolumn {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }
  
  .fa {font-size:50px;}


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .leftfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    color: white;
    text-align: center;
    z-index: -100;
  }


  .listheader {
    /* background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px; */
    padding-left: 10px;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* width and color */
    font-weight: bold;
    color: rgb(0, 0, 0);
  }


  /* side menue stuff */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 7;
    top: 0;
    /* right: 0; */
    background-color: #343a40;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 55px;
    padding-top: 60px;
    color: white;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .note {
    /* height: 10px; */
    padding: 0px; 
     margin: 0px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    /* width: 600px; */
    width: 90%;
    /* padding: 0%;
    margin: 0%;
    
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:300px;  */
  }


  textarea {
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 600px;
    height: 300px;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
  }

  input[type=text] {
    /* background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y; */
    /* width: 600px;
    height: 300px; */
    font: normal 14px verdana;
    line-height: 25px;
    /* padding: 2px 10px; */
    border: solid 1px #ddd;
  }

  .schedulednote {
    /* height: 10px; */
    padding: 0px;
    margin: 0px;
    display: inline-block;

    /* padding: 0%;
    margin: 0%;
    */
    /* float: left;
    position: relative; */
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:200px;
  }

  .weekschedulednote {
    /* height: 10px; */
    padding: 0px;
    margin: 0px;
    display: inline-block;

    /* padding: 0%;
    margin: 0%;
    */
    /* float: left;
    position: relative; */
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:100px;
  }

  i {
    color: rgb(49, 151, 214);
  }

  button {
    background-color: rgb(49, 151, 214);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
  }